/node_modules
/*/node_modules
/*/*/node_modules
/*/*/*/node_modules
/*/*/*/*/node_modules
/*/*/*/*/*/node_modules
/*/*/*/*/*/*/node_modules
node_modules
dist
/dist
/*/dist
/*/*/dist
/*/*/*/dist
/*/*/*/*/dist
/*/*/*/*/*/dist
/*/*/*/*/*/*/dist
yarn.lock
/*/yarn.lock
/*/*/yarn.lock
/*/*/*/yarn.lock
/*/*/*/*/yarn.lock
/*/*/*/*/*/yarn.lock
/*/*/*/*/*/*/yarn.lock
package-lock.json
/*/package-lock.json
/*/*/package-lock.json
/*/*/*/package-lock.json
/*/*/*/*/package-lock.json
/*/*/*/*/*/package-lock.json
/*/*/*/*/*/*/package-lock.json

.DS_Store

alyDataBaseConfig.js